%p
= f.label :title, t(:title)
%p
= f.text_field :title
%p
= f.label :description, t(:description)
%p
= f.text_area :description
%p
= f.label :published, t(:published)
%p
= f.check_box :published

- content_for :head do
  = stylesheet_link_tag "markitup.css"
  = javascript_include_tag 'jquery.markitup.js', 'markdown.set.js'
    :javascript
      $(document).ready(function() {
        $('#content_body').markItUp(markdownSettings);
        $('#btn_optional').click(function(evt) {
          evt.preventDefault();
          var vis = $('.optional').toggle().css('display') == 'block';
          $(this).find('span').html(vis ? '&#9660;' : '&#9650;');
        });
      }); 